/* body{
    width: 1200px;
} */

body {
    background-color: rgb(245, 240, 240);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.logo {
    width: 80px;
    height: 80px;
}

h1 {
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h2 {
    padding-top: 50px;
    /* padding: px; */
    color: white;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

/* .container {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    margin-top: 50px;
    
} */

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    margin-top: 50px;
  }
  
  .box1,
  .content {
    flex-basis: 50%;
    /* 左右均等に配置 */
  }

.image {
    position: relative;
    width: 450px;
    height: 450px;
    /* 画像のスタイルを追加 */
}

div.image-number {
    position: absolute;
    top: 0; /* 画像の左上に配置 */
    left: 0;
    margin: 0; /* 余計な隙間を除く */
    color: white; /* 文字を白に */
    background: black; /* 背景色 */
    font-size: 40px;
    line-height: 1; /* 行高は1に */
    padding: 10px; /* 文字周りの余白 */
    font-family: 'Anton', sans-serif;
}

.btn-next {
    margin-top: 10px;
    /* position: absolute;
    width: 50px;
    height: 30px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); */
}

/* .btn-top {
    top:30px;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* 
.btn-right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
} */

#output {
    width: 500px;
    height: 300px;
    overflow: scroll;
    background-color: lightyellow;
    border: 1px solid black;
}

p {
    color: blue;
    text-decoration: underline;
    /* text-underline-position: blue; */
}

#text {
    width: 500px;
    height: 100px;
}



.tex {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5em;
    /* マージンの方向を下に変更 */
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.tex:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
}

.remove {
    display: inline-block;
    /* 削除ボタンをインライン要素に変更 */
    margin-left: 10px;
    /* 適切なマージンを指定 */
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    /* font-family: 'Anton', sans-serif; */

}

footer small {
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
}

/* 
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message .bonname {
    font-weight: bold;
}

.message .sender {
    text-align: right;
}

.message .tex {
    text-align: right;
}

.message .time {
    text-align: right;
}

.message .sender[sender="師匠"] {
    flex-direction: row-reverse;
    text-align: right;
}

.message .sender[sender="生徒"] {
    flex-direction: row;
    text-align: left;
} */





/* body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 20px;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
} */


/* p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
} */
/* ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  
    table-layout: fixed;
    width:100%;
} */
/* li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  
    cursor: pointer;
}
li:hover{
  
    background: rgb(55, 189, 242);
  
}

li:active{
    position: relative;
    top: 3px;
}

.txt{
    text-align: center;
}

.btncenter{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* button.btn{
    color:#FFF;
    background-color: aqua;
    border-bottom: 5px solid black;
    
} */